<form id="menuTreeForm" style="width: 100%;height: 100%">
    <table id="menuTreeList"></table>
</form>

<div id="menuToolBar">
    <div id="initialMenuToolBar" class="visible-tool-bar">
        <a href="javascript:void(0)" id="mb" class="easyui-menubutton"
           data-options="menu:'#addMenuChild',iconCls:'icon-add'">新建</a>
        <div id="addMenuChild">
            <div id="toAddRootMenu">根节点</div>
            <div id="toAddChildMenu">子节点</div>
        </div>
        <a id="toEditMemu" href="javascript:void(0)" class="easyui-linkbutton"
           data-options="iconCls:'icon-edit',plain:true">编辑</a>
        <a id="toDeleteMenu" href="javascript:void(0)" class="easyui-linkbutton"
           data-options="iconCls:'icon-remove',plain:true">删除</a>
    </div>
    <div id="addMenuToolBar" class="hidden-tool-bar">
        <a id="addMenu" href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-ok',plain:true">确定</a>
        <a id="cancelAddMenu" href="javascript:void(0)" class="easyui-linkbutton"
           data-options="iconCls:'icon-undo',plain:true">取消</a>
    </div>
    <div id="editMenuToolBar" class="hidden-tool-bar">
        <a id="editMenu" href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-ok',plain:true">确定</a>
        <a id="cancelEditMenu" href="javascript:void(0)" class="easyui-linkbutton"
           data-options="iconCls:'icon-undo',plain:true">取消</a>
    </div>
</div>

<div id="menuTreeListMenu" style="width:120px;display: none">
    <div data-options="iconCls:'icon-add'">
        <span>新增</span>
        <div>
            <div onclick="MenuGridOpt.toAddRootMenuFn()">根节点</div>
            <div onclick="MenuGridOpt.toAddChildMenuFn()">子节点</div>
        </div>
    </div>
    <div onclick="MenuGridOpt.toEditMenuFn()" data-options="iconCls:'icon-remove'">编辑</div>
    <div onclick="MenuGridOpt.toDeleteMenuFn()" data-options="iconCls:'icon-remove'">删除</div>
    <div class="menu-sep"></div>
    <div onclick="collapse()">收起</div>
    <div onclick="expand()">展开</div>
</div>

<!--<script src="js/menuList.js"></script>-->
<script type="text/javascript">
    $(function () {
        LazyLoad.js(['js/menuList.js'], function() {
            MenuGridOpt.init();
        });
    });
</script>
