.window-proxy-mask, .window-mask {
    background: #333;
}

.panel-header {
    background-color: #394555;
    border-bottom: 1px;
    padding: 0;
}

.layout-panel-west .panel-title {
    height: 30px;
    line-height: 30px;
    text-align: center;
    background-color: #394555;
    color: #fff;
}

.datagrid-toolbar {
    height: auto;
    padding: 5px 2px;
    border-width: 0 0 1px 0;
    border-style: solid;
}

.datagrid-header tr>td {
    padding: 12px 1px;
    font-weight: normal;
    color: #999;
    border-bottom: 1px solid #e1e6eb;
    background-color: #F5F6FA;
}

.datagrid-body tr.datagrid-row>td {
    padding: 12px 1px;
    border-top: 0;
    border-bottom: 1px solid #e1e6eb;
    vertical-align: middle;
}

.datagrid-body tr.datagrid-row-editing>td{
    padding: 1px 1px;
}
