* {
    margin: 0;
    padding: 0
}

html, body {
    font-family: "Helvetica Neue", "Luxi Sans", "DejaVu Sans", Tahoma, "Hiragino Sans GB", STHeiti, "Microsoft YaHei";
    font-size: 12px;
}

h2 {
    font-size: 18px;
    font-weight: bold;
    margin: 0;
    margin-bottom: 15px;
}

html.panel-fit {
    overflow: auto
}

.console-topbar {
    position: relative;
    z-index: 100;
    clear: both;
    height: 50px;
    background: #09C;
    font-size: 12px;
}

.console-topbar .topbar-wrap, .console-topbar .topbar-logo, .console-topbar .topbar-home, .console-topbar .topbar-home-link, .console-topbar .topbar-info {
    height: 100%;
}

.console-topbar .topbar-head {
    background: #008fbf;
    height: 50px;
    position: relative;
    z-index: 3;
}

.console-topbar .topbar-left {
    float: left;
}

.console-topbar .topbar-left:hover, .console-topbar .topbar-info .topbar-btn:hover, .aliyun-console-topbar .topbar-info .topbar-btn.topbar-btn-dark {
    background: #008fbf;
}

.console-topbar a {
    text-decoration: none;
}

.console-topbar .topbar-logo, .console-topbar .topbar-home {
    display: block;
    width: 50px;
    background: #09c;
    font-size: 18px;
    color: #FFF;
    text-align: center;
    line-height: 50px;
}

.console-topbar .topbar-logo {
    background: #0087b4;
}

.console-topbar .topbar-logo span, .console-topbar .topbar-home span {
    line-height: 50px;
}

.console-topbar .topbar-btn {
    color: #fff;
    font-size: 14px;
    line-height: 50px;
}

.console-topbar .topbar-home-link {
    padding: 0 20px;
    margin-right: 1px;
    background: #09c;
}

.console-topbar .topbar-right {
    float: right;
}

.console-topbar .topbar-info {
    background: #008fbf;
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
}

.console-topbar .topbar-info .topbar-btn-search, .console-topbar .topbar-user, .console-topbar .topbar-notice {
    padding: 0;
    margin-left: 1px;
}

.console-topbar .topbar-info .topbar-btn {
    padding: 0 10px;
    height: 50px;
    display: block;
    z-index: 2;
    background: #09c;
}

.console-sidebar {
    background: #293038;
    color: #fefefe;
    font-size: 12px;
}

.console-topbar .span-icon {
    line-height: 50px;
    vertical-align: text-bottom;
}

.console-topbar .topbar-btn-notice .topbar-btn-notice-num {
    font-size: 12px;
    color: #fff;
    background: #ff9900;
    border-radius: 5px;
    padding: 2px 5px;
    display: inline-block;
    margin-top: 15px;
    line-height: 16px;
    vertical-align: top;
    text-align: center;
}

.accordion-tree .tree-node {
    padding: 11px 0 11px 20px;
}

.accordion-tree .tree-node-hover {
    background: #37424f;
    color: #fff;
}

.accordion-tree .tree-node-selected {
    background: #09c;
    color: #fff;
}

.accordion-tree .tree-folder {
    display: none;
}

.accordion-tree .tree-indent {
    display: none;
}

.accordion-tree .root-tree-node {
    background: #22282e;
    margin-bottom: 1px;
}

.accordion-tree .root-tree-node:hover {
    background: #414d5c;
}

.accordion-tree .root-tree-node-selected {
    background: #37424f;
}

.accordion-tree .tree-expanded {
    background: url('../imgs/glyphicons-halflings-white.png') no-repeat -312px -117px;
}

.accordion-tree .tree-expanded-hover {
    background: url('../imgs/glyphicons-halflings-white.png') no-repeat -312px -117px;
}

.accordion-tree .tree-collapsed {
    background: url('../imgs/glyphicons-halflings-white.png') no-repeat -455px -70px;
}

.accordion-tree .tree-collapsed-hover {
    background: url('../imgs/glyphicons-halflings-white.png') no-repeat -455px -70px;
}

.accordion-tree .tree-hit, .accordion-tree .tree-icon {
    margin-right: 5px;
}

.child-tree-sidebar {
    width: 180px;
    height: 100%;
    background: #eaedf1;
}

.child-tree-sidebar-top {
    width: 100%;
    height: 70px;
    background: #d9dee4;
}

.visible-tool-bar {
    display: inline;
}
.hidden-tool-bar {
    display: none;
}

.window-proxy-mask, .window-mask {
    background: #333;
}

.panel-header {
    background-color: #394555;
    border-bottom: 1px;
    padding: 0;
}

.layout-panel-west .panel-title {
    height: 30px;
    line-height: 30px;
    text-align: center;
    background-color: #394555;
    color: #fff;
}

.datagrid-toolbar {
    height: auto;
    padding: 5px 2px;
    border-width: 0 0 1px 0;
    border-style: solid;
}

.datagrid-header tr>td {
    padding: 12px 1px;
    font-weight: normal;
    color: #999;
    border-bottom: 1px solid #e1e6eb;
    background-color: #F5F6FA;
}

.datagrid-body tr.datagrid-row>td {
    padding: 12px 1px;
    border-top: 0;
    border-bottom: 1px solid #e1e6eb;
    vertical-align: middle;
}

.datagrid-body tr.datagrid-row-editing>td{
    padding: 1px 1px;
}
