<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jrcplanet.mapper.PermissionMapper">
    <!-- 配置缓存 -->
    <cache type="org.mybatis.caches.ehcache.LoggingEhcache"/>

    <sql id="permissionTable">t_res_permission</sql>
    <sql id="rolePermissionTable">t_res_role_permission</sql>

    <!-- 保存权限 -->
    <insert id="insertPermission" parameterType="com.jrcplanet.domain.Permission">
        INSERT INTO <include refid="permissionTable"/>
        (id, url, name, per_type, parent_id, visible, remark)
        VALUES
        (#{id},#{url},#{name},#{perType},#{parentId},#{visible},#{remark})
    </insert>

    <!-- 根据角色获取权限列表 -->
    <select id="getPermissionByRole" parameterType="String" resultType="com.jrcplanet.domain.Permission" useCache="true">
        SELECT p.* FROM <include refid="permissionTable"/> p
         INNER JOIN <include refid="rolePermissionTable"/> rp ON p.id = rp.permission_id
         WHERE rp.role_id=#{roleId}
    </select>

</mapper>