<table id="userList"></table>

<div id="userToolBar">
    <div id="initialUserToolBar" class="visible-tool-bar">
        <a id="toCreateUser" href="javascript:void(0)" class="easyui-linkbutton"
           data-options="iconCls:'icon-add',plain:true">新建</a>
        <a id="toDeleteUser" href="javascript:void(0)" class="easyui-linkbutton"
           data-options="iconCls:'icon-remove',plain:true">删除</a>
    </div>
    <div id="deleteUserToolBar" class="hidden-tool-bar">
        <a id="deleteUser" href="javascript:void(0)" class="easyui-linkbutton"
           data-options="iconCls:'icon-ok',plain:true">确定</a>
        <a id="cancelDeleteUser" href="javascript:void(0)" class="easyui-linkbutton"
           data-options="iconCls:'icon-undo',plain:true">取消</a>
    </div>
    <input id="userSearch" class="easyui-searchbox" style="width:300px"/>
    <div id="userSearchMenu">
        <div data-options="name:'username'" style="height: 25px">用户名</div>
        <div data-options="name:'realName'" style="height: 25px">真实姓名</div>
        <div data-options="name:'mobilePhone'" style="height: 25px">手机号</div>
    </div>
</div>

<div id="createUserWin">
    <form id="addUserForm" method="post">
        <input type="text" name="username" placeholder="用户名"><br>
        <input type="password" name="password" placeholder="密码"><br>
        <input type="text" name="realName" placeholder="真实姓名"><br>
        <input type="email" name="email" placeholder="邮箱"><br>
    </form>
</div>

<!--<script src="js/userList.js"></script>-->
<script type="text/javascript">
    $(function () {
        LazyLoad.js(['js/userList.js'], function() {
            userListOpt.init();
        });
    });
</script>
